.benefits {
  padding: 24px 0 17px;
  background-color: var(--color-bg-light);

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  // .benefits__heading
  &__heading {
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      margin-bottom: 64px;
    }
  }

  // .benefits__wrapper
  &__wrapper {
    display: grid;
    column-gap: 20px;
    grid-template-rows: auto;
    gap: 30px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include desktop {
      gap: 82px;
    }
  }

  // .benefits__img-wrapper
  &__img-wrapper {
    @include tablet {
      margin-left: -100px;
    }
  }

  // .benefits__img
  &__img {
    width: 100%;
    object-fit: cover;
  }

  // .benefits__list
  &__list {
  }

  // .benefits__item
  &__item {
    position: relative;
    padding-top: 8px;
    padding-bottom: 6px;
  }

  // .benefits__headline
  &__headline {
    display: flex;
    align-items: center;
    margin-bottom: 6px;

    @include tablet {
      margin-bottom: 8px;
    }
  }

  // .benefits__icon
  &__icon {
    display: block;
    margin-right: 12px;
    border: 1px solid rgb(66 149 228 / 30%);
    border-radius: 100%;
    padding: 12px;

    img {
      display: block;
    }
  }

  // .benefits__title
  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 26px;

    @include tablet {
      font-size: 20px;
      line-height: 32px;
    }
  }

  // .benefits__text
  &__text {
    position: relative;
    margin: 0;
    padding-left: 54px;
    min-height: 72px;

    &--decore {
      &::before {
        content: "";
        position: absolute;
        left: 21px;
        top: 0;
        bottom: 0;
        border: 1px solid var(--color-grey-light);
      }
    }
  }
}
