.color-chooser {
  // .color-chooser__title
  &__title {
    margin-bottom: 10px;
  }

  // .color-chooser__field
  &__field {
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  // .color-chooser__input
  &__input {
    appearance: none;
    position: relative;
    border: 1px solid var(--color-blue);
    border-radius: 0;
    width: 32px;
    height: 32px;

    &::before {
      content: "";
      position: absolute;
      left: -4px;
      right: -4px;
      top: -4px;
      bottom: -4px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      width: 14px;
      height: 14px;
      transform: translateX(-50%) translateY(-50%);
    }

    &:checked {
      border: none;

      &::before {
        border: 1px solid var(--color-blue);
      }

      &::after {
        background-image: url("/img/sprite.svg#check");
      }
    }

    &:focus-visible {
      outline: 1px solid rgb(229 151 0);
      outline-offset: 0;
    }
  }
}
