.comments {
  // .comments__btn
  &__btn {
    margin-bottom: 24px;
  }

  // .comments__list
  &__list {
    margin-bottom: 32px;
  }

  // .comments__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .comments__btn-more
  &__btn-more {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
  }

  &__btn-more-icon {
    display: block;
    margin-right: 8px;
  }
}
