.page-category__title {
  margin-bottom: 14px;
}

.section-category {
  padding-top: 20px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;
  }

  @include desktop {
    padding-top: 47px;
    padding-bottom: 50px;
  }
}

.section-category__heading {
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 32px;
  }

  @include desktop {
    margin-bottom: 64px;
  }
}

.section-category__list {
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 57px;
  }
}

.page-category__section {
  padding-bottom: 41px;
}
