.single-comment {
  margin: 0;
  border: 1px solid var(--color-stroke);

  // .single-comment__top
  &__top {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 16px 16px 7px;
    border-bottom: 1px solid var(--color-stroke);
  }

  &__author {
    display: block;
    color: var(--color-black);
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
  }

  &__time {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
  }

  // .single-comment__rate
  &__rate {
  }

  // .single-comment__content
  &__content {
    padding: 21px 16px 16px;
  }

  &__text {
    margin: 0;
    margin-bottom: 22px;
  }

  // .single-comment__actions
  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  // .single-comment__reply
  &__reply,
  &__more {
    display: inline-flex;
    align-items: center;
    color: var(--color-grey);
    font-size: 14px;
    line-height: 24px;
  }

  &__reply-icon,
  &__more-icon {
    display: block;
    margin-right: 4px;
  }
}
