<section class="breadcrumbs">
  <div class="container">
    <ul class="breadcrumbs__list list-reset">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--home" href="/">
          <svg class="breadcrumbs__icon" width="20" height="20" aria-hidden="true">
            <use xlink:href="img/sprite.svg#home" />
          </svg>
          <span>Главная</span>
        </a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Каталог</a>
      </li>
    </ul>
  </div>
</section>