<footer class="footer">
  <div class="container footer__wrapper">
    <div class="footer__top">
      <a class="footer__logo logo" href="#">
        <svg class="logo__img" width="70" height="57" aria-hidden="true">
          <use xlink:href="img/sprite.svg#logo" />
        </svg>
      </a>
      <ul class="footer__social social-list list-reset">
        <li class="social-list__item">
          <a class="social-list__link" href="#">
            <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="img/sprite.svg#vk" />
            </svg>
            <span class="visually-hidden">Вконтакте</span>
          </a>
        </li>
        <li class="social-list__item">
          <a class="social-list__link" href="#">
            <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="img/sprite.svg#twitter" />
            </svg>
            <span class="visually-hidden">Twitter</span>
          </a>
        </li>
        <li class="social-list__item">
          <a class="social-list__link" href="#">
            <svg class="social-list__icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="img/sprite.svg#facebook" />
            </svg>
            <span class="visually-hidden">Facebook</span>
          </a>
        </li>
      </ul>
    </div>
    <dl class="footer__middle footer__menu menu-footer">
      <div class="menu-footer__block">
        <dt class="menu-footer__title">Навигация</dt>
        <dd class="menu-footer__content">
          <ul class="menu-footer__list list-reset">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="./">Главная</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="./catalog.html">Каталог</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="./commerce.html"> Оптовая продажа</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="./about.html">О нас</a>
            </li>
          </ul>
        </dd>
      </div>
      <div class="menu-footer__block">
        <dt class="menu-footer__title">Наши контакты</dt>
        <dd class="menu-footer__content">
          <dl class="menu-footer__sublist">
            <div class="menu-footer__item">
              <dt class="menu-footer__title  menu-footer__title--small">Телефоны</dt>
              <dd class="menu-footer__item">
                <a class="menu-footer__link" href="tel:+79885650038">+7 (988) 565 00 38</a>
              </dd>
              <dd class="menu-footer__item">
                <a class="menu-footer__link" href="tel:+375336628256">+375 33 662 82 56</a>
              </dd>
            </div>
            <div class="menu-footer__item">
              <dt class="menu-footer__title menu-footer__title--small">Email</dt>
              <dd class="menu-footer__item">
                <a class="menu-footer__link" href="mailto:vladpertcev@mail.ru">vladpertcev@mail.ru</a>
              </dd>
              <dd class="menu-footer__item">
                <a class="menu-footer__link" href="mailto:korobko416@gmail.com">korobko416@gmail.com</a>
              </dd>
            </div>
          </dl>
        </dd>
      </div>
      <div class="menu-footer__block menu-footer__block--order">
        <dt class="menu-footer__title">Другое</dt>
        <dd class="menu-footer__content">
          <ul class="menu-footer__list list-reset">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="./devilery.html">Доставка и оплата</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Гарантии</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#"> Возврат товара</a>
            </li>
          </ul>
        </dd>
      </div>
      <div class="menu-footer__block">
        <dt class="menu-footer__title">Наш адрес</dt>
        <dd class="menu-footer__content">
          <address class="menu-footer__address">Россия, Ростов-на-Дону ул. Богачева, 16</address>
          <address class="menu-footer__address menu-footer__address--only-desctop">Беларусь, Солигорск ул. Ленина, 10б
          </address>
        </dd>
      </div>
    </dl>
    <div class="footer__bottom">
      <small class="footer__copyright">&copy; Golden Soft All rights reserved.</small>
    </div>
  </div>
</footer>
@include('modal-cart.html')
