<header class="header">
  <div class="header__wrapper container">
    <nav class="header__nav nav-header">
      <button class="nav-header__burger burger" data-offcanvas="menu">
        <span class="burger__icon"></span>
      </button>
      <div class="nav-header__menu offcanvas" data-offcanvas-target="menu">
        <div class="offcanvas__overlay"></div>
        <div class="nav-header__wrapper offcanvas__wrapper offcanvas__wrapper--left">
          <div class="nav-header__top offcanvas__header offcanvas__header--logo">
            <a class="nav-header__logo logo" href="#">
              <svg class="logo__img" width="33" height="27">
                <use xlink:href="img/sprite.svg#logo"></use>
              </svg>
            </a>
            <button class="nav-header__close offcanvas__close btn-close btn-reset">
              <svg class="btn-close__icon" width="24" height="24">
                <use xlink:href="img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>
          <ul class="nav-header__nav-site offcanvas__body nav-site list-reset">
            <li class="nav-site__item">
              <a class="nav-site__link" href="./">Главная</a>
            </li>
            <li class="nav-site__item offcanvas offcanvas--sub">
              <a class="nav-site__link nav-site__link--drop offcanvas__link" href="#">
                <span class="offcanvas__title">Каталог</span>
                <svg class="nav-site__link-icon" width="24" height="24">
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
              <div class="nav-site__dropmenu offcanvas__wrapper offcanvas__wrapper--right">
                <div class="offcanvas__header">
                  <button class="offcanvas__back btn-reset btn-icon">
                    <svg class="" width="20" height="20">
                      <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                  </button>
                  <span class="offcanvas__header-title"></span>
                </div>
                <div class="offcanvas__body">
                  <ul class="list-category list-category--header list-reset">
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img1.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Накладные<br> электронные замки</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img2.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Врезные электроные замки</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img3.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Замки для квартиры</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img4.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Замки для дома</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img5.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Замки для отелей</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img6.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Замки для офиса</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img8.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Замки для шкафчиков</h3>
                      </a>
                    </li>
                    <li class="list-category__item">
                      <a class="list-category__link" href="#">
                        <picture>
                          <img class="list-category__img" src="img/category/category-img7.jpg" width="161" height="161"
                            alt="Категория 1">
                        </picture>
                        <h3 class="list-category__title">Замки для раздевалок</h3>
                      </a>
                    </li>
                  </ul>
                  <a class="list-category__link-all btn" href="#">Смотреть все</a>
                </div>
              </div>
            </li>
            <li class="nav-site__item">
              <a class="nav-site__link" href="./commerce.html">Оптовая продажа</a>
            </li>
            <li class="nav-site__item">
              <a class="nav-site__link" href="./about.html">О нас</a>
            </li>
          </ul>
          <div class="nav-header__contacts offcanvas__bottom header-contacts">
            <a class="header-contacts__item header-contacts__item--phone" href="tel:+79665588499">
              <svg class="header-contacts__icon" width="20" height="20">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7 (966) 55 88 499
            </a>
            <a class="header-contacts__item phone-callback only-mobile" href="#">
              Обратный звонок
            </a>
          </div>
        </div>
      </div>
      <div class="nav-header__actions nav-actions">
        <a class="nav-actions__item" href="#">
          <svg class="nav-actions__item-icon" width="32" height="32">
            <use xlink:href="img/sprite.svg#like"></use>
          </svg>
          <span class="nav-actions__badge">1</span>
          <span class="visually-hidden">Избранное</span>
        </a>
        <a class="nav-actions__item" href="#" data-bs-toggle="modal" data-bs-target="#cartModal">
          <svg class="nav-actions__item-icon" width="32" height="32">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="nav-actions__badge">1</span>
          <span class="visually-hidden">Корзина</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="header__promo">
    <div class="header__promo-wrapper container">
      <p class="header__promo-text">Скидка 10% по промокоду “ZAMOK” на все заказы до 10.09</p>
      <a class="header__promo-phone phone-callback phone-callback--secondary only-desktop" href="#">Обратный звонок</a>
    </div>
  </div>
</header>
