<section class="promo">
  <div class="container">
    <h2 class="visually-hidden">Рекомендуемые товары</h2>
    <div class="promo__list swiper">
      <div class="slider__wrapper swiper-wrapper">
        <div class="promo__item swiper-slide">
          <div class="promo__img">
            <picture>
              <source srcset="img/slider/slider-img1.avif, img/slider/slider-img1@2x.avif 2x" type="image/avif">
              <source srcset="img/slider/slider-img1.webp, img/slider/slider-img1@2x.webp 2x" type="image/webp">
              <img class="image" src="img/slider/slider-img1.jpg" srcset="img/slider/slider-img1@2x.jpg" width="344"
                height="307" alt="" loading="lazy">
            </picture>
          </div>
          <div class="promo__content">
            <h3 class="promo__title">Golden Soft<br> GS-200Z-5 для офиса</h3>
            <div class="promo__desc">
              <p>Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск,
                четкие
                линии, красивые формы.</p>
              <p>Подходит для установки на деревянную/межкомнатную дверь.</p>
            </div>
            <p class="promo__price">
              <span class="promo__price-title">Цена</span>
              <span class="promo__price-actual">33 000₽</span>
              <s class="promo__price-old">37 000₽</s>
            </p>
            <button class="promo__btn btn btn-reset">Добавить в корзину</button>
          </div>
        </div>
        <div class="promo__item swiper-slide">
          <div class="promo__img">
            <picture>
              <source srcset="img/slider/slider-img1.avif, img/slider/slider-img1@2x.avif 2x" type="image/avif">
              <source srcset="img/slider/slider-img1.webp, img/slider/slider-img1@2x.webp 2x" type="image/webp">
              <img class="image" src="img/slider/slider-img1.jpg" srcset="img/slider/slider-img1@2x.jpg" width="344"
                height="307" alt="" loading="lazy">
            </picture>
          </div>
          <div class="promo__content">
            <h3 class="promo__title">Golden Soft<br> GS-200Z-5 для отолей</h3>
            <div class="promo__desc">
              <p>Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск,
                четкие
                линии, красивые формы.</p>
              <p>Подходит для установки на деревянную/межкомнатную дверь.</p>
            </div>
            <p class="promo__price">
              <span class="promo__price-title">Цена</span>
              <span class="promo__price-actual">33 000₽</span>
              <s class="promo__price-old">37 000₽</s>
            </p>
            <button class="promo__btn btn  bnt--big btn-reset">Добавить в корзину</button>
          </div>
        </div>
        <div class="promo__item swiper-slide">
          <div class="promo__img">
            <picture>
              <source srcset="img/slider/slider-img1.avif, img/slider/slider-img1@2x.avif 2x" type="image/avif">
              <source srcset="img/slider/slider-img1.webp, img/slider/slider-img1@2x.webp 2x" type="image/webp">
              <img class="image" src="img/slider/slider-img1.jpg" srcset="img/slider/slider-img1@2x.jpg" width="344"
                height="307" alt="" loading="lazy">
            </picture>
          </div>
          <div class="promo__content">
            <h3 class="promo__title">Golden Soft<br> GS-200Z-5 </h3>
            <div class="promo__desc">
              <p>Замок дверной электронный Golden Soft GS-200Z-5 имеет роскошный глянцевый блеск,
                четкие
                линии, красивые формы.</p>
              <p>Подходит для установки на деревянную/межкомнатную дверь.</p>
            </div>
            <p class="promo__price">
              <span class="promo__price-title">Цена</span>
              <span class="promo__price-actual">33 000₽</span>
              <s class="promo__price-old">37 000₽</s>
            </p>
            <button class="promo__btn btn bnt--big btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
      <div class="swiper-control">
        <button class="swiper-button-prev btn-reset btn-icon">
          <svg width="24" height="24" aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-left" />
          </svg>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-next btn-reset btn-icon">
          <svg width="24" height="24" aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-right" />
          </svg>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>
  </div>
</section>
