<section class="page-category__section section-category">
  <div class="container">
    <ul class="section-category__list list-category list-reset">
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img1.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Накладные<br> электронные замки</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img2.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Врезные электроные замки</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img3.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Замки для квартиры</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img4.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Замки для дома</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img5.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Замки для отелей</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img6.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Замки для офиса</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img8.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Замки для шкафчиков</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img7.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Замки для раздевалок</h3>
        </a>
      </li>
    </ul>
    <a class="list-category__link-all btn" href="#">Смотреть все</a>
  </div>
</section>
