<section class="statistics">
  <div class="container">
    <h2 class="visually-hidden">Наша статистика</h2>
    <dl class="statistics__list">
      <div class="statistics__item">
        <dt class="statistics__title">Счастливых клиентов</dt>
        <dd class="statistics__desc">5,567</dd>
      </div>
      <div class="statistics__item">
        <dt class="statistics__title">Продуктов на выбор</dt>
        <dd class="statistics__desc">1245</dd>
      </div>
      <div class="statistics__item">
        <dt class="statistics__title">Продаж в день</dt>
        <dd class="statistics__desc">372</dd>
      </div>
      <div class="statistics__item">
        <dt class="statistics__title">Лет на рынке</dt>
        <dd class="statistics__desc">20</dd>
      </div>
    </dl>
  </div>
</section>
