<section class="section-products ">
  <div class="container">

    <div class="section-products__header">
      <h2 class="section-products__title title">Наши популярные продукты</h2>
      <div class="section-products__btn swiper-control">
        <button class="swiper-button-prev btn-reset btn-icon">
          <svg width="40" height="40" aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-left" />
          </svg>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="swiper-button-next btn-reset btn-icon">
          <svg width="40" height="40" aria-hidden="true">
            <use xlink:href="img/sprite.svg#arrow-right" />
          </svg>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>
    <div class="section-products__wrapper slider-product">
      <ul class="section-products__list list-reset swiper-wrapper">
        <li class="section-products__item swiper-slide">
          <article class="section-products__card card-product">
            <div class="card-product__img-wrapper">
              <picture>
                <img class="card-product__img" src="img/products/product-img1.png" width="265" height="265" alt=""
                  aria-labelledby="img_1">
              </picture>
              <div class="card-product__chevron-list">
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-availability card-product__chevron-availability--yes">
                    <svg width="20" height="20" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#check" />
                    </svg>
                    <span class="visually-hidden">Есть</span>
                    В наличии
                  </p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-sale">Sale</p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-gift">
                    <svg width="12" height="12" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#gift" />
                    </svg>
                    Подарок
                  </p>
                </div>
              </div>
            </div>
            <div class="card-product__content">
              <a class="card-product__link" href="#">
                <h3 class="card-product__title" id="img_1">Дверной Замок Golden Soft для отеля</h3>
              </a>
              <p class="card-product__price">
                33 000₽ <s>37 000₽</s>
              </p>
              <button class="card-product__btn btn">Добавить в корзину</button>
            </div>
          </article>
        </li>
        <li class="section-products__item swiper-slide">
          <article class="section-products__card card-product">
            <div class="card-product__img-wrapper">
              <picture>
                <img class="card-product__img" src="img/products/product-img2.png" width="265" height="265" alt=""
                  aria-labelledby="img_2">
              </picture>
              <div class="card-product__chevron-list">
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-availability card-product__chevron-availability--no">
                    <svg width="20" height="20" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#no" />
                    </svg>
                    <span class="visually-hidden">Есть</span>
                    В наличии
                  </p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-sale">Sale</p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-gift">
                    <svg width="12" height="12" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#gift" />
                    </svg>
                    Подарок
                  </p>
                </div>
              </div>
            </div>
            <div class="card-product__content">
              <a class="card-product__link" href="#">
                <h3 class="card-product__title" id="img_2">Вариативный замок Golden Soft для отеля</h3>
              </a>
              <p class="card-product__price">
                7000₽ <s>8 000₽</s>
              </p>
              <button class="card-product__btn btn">Добавить в корзину</button>
            </div>
          </article>
        </li>
        <li class="section-products__item swiper-slide">
          <article class="section-products__card card-product">
            <div class="card-product__img-wrapper">
              <picture>
                <img class="card-product__img" src="img/products/product-img3.png" width="265" height="265" alt=""
                  aria-labelledby="img_3">
              </picture>
              <div class="card-product__chevron-list">
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-availability card-product__chevron-availability--yes">
                    <svg width="20" height="20" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#check" />
                    </svg>
                    <span class="visually-hidden">Есть</span>
                    В наличии
                  </p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-sale">Sale</p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-gift">
                    <svg width="12" height="12" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#gift" />
                    </svg>
                    Подарок
                  </p>
                </div>
              </div>
            </div>
            <div class="card-product__content">
              <a class="card-product__link" href="#">
                <h3 class="card-product__title" id="img_3">Дверной Замок Golden Soft для офиса</h3>
              </a>
              <p class="card-product__price">
                33000₽ <s>39000₽</s>
              </p>
              <button class="card-product__btn btn">Добавить в корзину</button>
            </div>
          </article>
        </li>
        <li class="section-products__item swiper-slide">
          <article class="section-products__card card-product">
            <div class="card-product__img-wrapper">
              <picture>
                <img class="card-product__img" src="img/products/product-img4.png" width="265" height="265" alt=""
                  aria-labelledby="img_4">
              </picture>
              <div class="card-product__chevron-list">
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-availability card-product__chevron-availability--yes">
                    <svg width="20" height="20" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#check" />
                    </svg>
                    <span class="visually-hidden">Есть</span>
                    В наличии
                  </p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-sale">Sale</p>
                </div>
                <div class="card-product__chevron-item">
                  <p class="card-product__chevron-gift">
                    <svg width="12" height="12" aria-hidden="true">
                      <use xlink:href="img/sprite.svg#gift" />
                    </svg>
                    Подарок
                  </p>
                </div>
              </div>
            </div>
            <div class="card-product__content">
              <a class="card-product__link" href="#">
                <h3 class="card-product__title" id="img_4">Дверной Замок Golden Soft для офиса</h3>
              </a>
              <p class="card-product__price">
                9000₽ <s>12000₽</s>
              </p>
              <button class="card-product__btn btn">Добавить в корзину</button>
            </div>
          </article>
        </li>
      </ul>

    </div>
  </div>
</section>
