<section class="section-category">
  <div class="container">
    <h2 class="section-category__heading title title--section">Категории</h2>
    <ul class="section-category__list list-category list-category--big list-reset">
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img5.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Для отелей</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img8.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Для шкафчиков</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img6.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Для офисов</h3>
        </a>
      </li>
      <li class="list-category__item">
        <a class="list-category__link" href="#">
          <picture>
            <img class="list-category__img" src="img/category/category-img4.jpg" width="161" height="161"
              alt="Категория 1">
          </picture>
          <h3 class="list-category__title">Аксессуары</h3>
        </a>
      </li>
    </ul>
    <a class="section-category__link-all btn" href="#">Все категории</a>
  </div>
</section>
