<section class="callback">
  <div class="container">
    <h2 class="callback__title title title--section ">Мы Вам перезвоним</h2>
    <p class="callback__text">Если у вас возникли какие-то вопросы или проблемы, заполните форму и мы Вам перезвоним.
    </p>
    <form class="callback__form" action="#" method="post">
      <label class="callback__form-field" aria-label="Ваше имя">
        <input class="callback__form-input" type="text" name="name" placeholder="Ваше имя">
      </label>
      <label class="callback__form-field" aria-label="Ваш телефон">
        <input class="callback__form-input" type="tel" name="phone" placeholder="Ваш телефон">
      </label>
      <button class="callback__form-btn btn" type="submit">Отправить</button>
    </form>
  </div>
</section>
