// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-bg-grey: rgb(0 0 0 / 2%);
  --color-black: #161c24;
  --color-white: #fff;
  --color-grey-light: #c4cdd5;
  --color-grey: #454f5b;
  --color-stroke: #eaeaea;
  --color-blue: #4295e4;
  --color-blue-light: #add7ff;
  --color-rad: #e44286;
  --color-text-disable: #adadad;
  --color-bg-light: #f2f8ff;
  --color-orange: #f6ab3a;
}
